In [4]:
# Dependencies
import pandas as pd
import numpy as np
import requests
import json

# Import API key
from config import gkey

In [5]:
# Import cities file into the cities_pd DataFrame
file = "../Resources/cities.csv"
cities_pd = pd.read_csv(file)
cities_df = pd.DataFrame(cities_pd)
cities_df.head()

            City         State
0  New York City      New York
1    Los Angeles    California
2        Chicago      Illinois
3        Houston         Texas
4   Philadelphia  Pennsylvania

In [6]:
# Add columns for lat, lng, airport name, airport address, airport rating.
# Hint: Be sure to specify "" as the initial value for each column.
cities_df['Lat'] = ''
cities_df['Lng'] = ''
cities_df['Aiport Name'] = ''
cities_df['Airport Address'] = ''
cities_df['Airport Rating'] = ''
cities_df.head()

,City,State,Lat,Lng,Aiport Name,Airport Address,Airport Rating
0,New York City,New York,,,,,
1,Los Angeles,California,,,,,
2,Chicago,Illinois,,,,,
3,Houston,Texas,,,,,
4,Philadelphia,Pennsylvania,,,,,

In [10]:
# Loop through the cities_pd and get the lat/long for each city

# Build the endpoint URL

for index, row in cities_df.iterrows():
    
    target_city = row[0]
    target_url = ('https://maps.googleapis.com/maps/api/geocode/json?'
        'address={0}&key={1}').format(target_city, gkey)
    geo_data = requests.get(target_url).json()
    
    cities_df.loc[index, 'Lat'] = geo_data["results"][0]["geometry"]["location"]["lat"]
    cities_df.loc[index, 'Lng'] = geo_data["results"][0]["geometry"]["location"]["lng"]

# Hint: `requests.get(target_url).json()`
# Hint: `for index, row in cities_pd.iterrows():`
# Hint: `cities_pd.loc`

cities_df.head()

,City,State,Lat,Lng,Aiport Name,Airport Address,Airport Rating
0,New York City,New York,40.7128,-74.006,,,
1,Los Angeles,California,34.0522,-118.244,,,
2,Chicago,Illinois,41.8781,-87.6298,,,
3,Houston,Texas,29.7604,-95.3698,,,
4,Philadelphia,Pennsylvania,39.9526,-75.1652,,,

In [22]:
# Use the lat/lng we recovered to identify airports
base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

# use iterrows to iterate through pandas dataframe
for index, row in cities_df.iterrows():
    lat = row["Lat"]
    lng = row["Lng"]
    params = ["location"] = "{lat},{lng}"
    
    # assemble url and make API request
    print(f"Retrieving Results for Index {index}: {row[0]}.")
    response = requests.get(base_url, params=params).json()

    # extract results
    results = response['results']

    try:
        print(f"The closest airport is {results[0]['name']}.")

        types_df.loc[index, 'Airport Name'] = results[0]['name']
        types_df.loc[index, 'Airport Address'] = results[0]['vicinity']
        types_df.loc[index, 'Airport Rating'] = results[0]['rating']

    except (KeyError, IndexError):
        print("Missing field/result... skipping.")

    print("------------")

# Hint: Code is similar to above block (i.e. you will need to use cities_pd.iterrows() again)
# Hint: Use the keyword search for "international+airport"
# Hint: Use a try-except to handle airports that are missing ratings

SyntaxError: can't assign to literal (<ipython-input-22-083b065faa8b>, line 8)

In [ ]:
# Save Data to csv


# Visualize to confirm airport data appears